body {
    background: linear-gradient(to right,black,gray); 
    margin: 0;
    height: 100vh;
}

       
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: relative;
}

.navbar-brand a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    left: 20px;
    position: absolute;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition:  0.4s ease; 
}

.nav-links {
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative; 
    padding-bottom: 5px; 
}

.nav-links a::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: white; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.nav-links a.active::after,
.nav-links a:hover::after {
    width: 100%; 
    left: 0; 
}

.brand-phrase {
    color: white;
    position: relative;
    top: 150px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  

.container-1{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    padding: 20px; 
    text-align: center;
    box-shadow: 0 50px 29px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    box-sizing: border-box;
    
}

.container-1 label {
    text-align: left;
    font-size: 20px;
    margin: 4px 0;
    display: block;
    font-family: sans-serif;
}

.container-1 input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.container-1 button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.container-1 h2 {
    margin-bottom: 20px;
    font-family: sans-serif;
}

.container-1 
.login-link {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.underline {
    color: black;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.faq-section h2 {
    color: white;
    position: relative;
    top: 270px;
    left: 20px;
}